[Unit]
Description=USB Gadget Setup Service
After=network.target

[Service]
Type=oneshot
ExecStart=sudo /usr/bin/usb_gadget_setup.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target